*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin:0px;
    padding:0px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
p,h1,h2,h3,h4,h5,h6,ul,li{
    margin:0px;
    padding:0px;
}
li{
    list-style: none;
}
a{
    text-decoration:none;
}
.text-gray{
    color:#848199;
}
.text-skyblue{
    color:#3F87F5;
}