/*
    =================================================
                    start navbar section
    =================================================
*/
.navbar-toggler:focus,.accordion-button:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0;
}

/*
    =================================================
                    end navbar section
    =================================================
*/
/*
    =================================================
                    start dismiss section
    =================================================
*/
.alert {
    border-radius: 0px;
}
/*
    =================================================
                    end dismiss section
    =================================================
*/
/*
    =================================================
                    start package section
    =================================================
*/
.single-pack {
    border-radius: 30px;
    box-shadow: 0px 35px 35px 0px #231d4f66;
}
/*
    =================================================
                    end package section
    =================================================
*/
/*
    =================================================
                    start question section
    =================================================
*/
.question, .moment-img{
    width:50%;
    margin-right:5%;
}
.ques-img, .moment-txt{
    width:45%;
}
.accordion-button:not(.collapsed) {
    color: #000;
    background-color: transparent;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0);
}
.item {
    border: 1px solid #0c0a1c;
}


/*
    =================================================
                    end question section
    =================================================
*/
/*
    =================================================
                    start event section
    =================================================
*/
.event-section .card {
    border: 1px solid #231D4F;
}
/*
    =================================================
                    end event section
    =================================================
*/
/*
    =================================================
                    start client section
    =================================================
*/
.client-section .card {
    border: 0px;
}
/*
    =================================================
                    end client section
    =================================================
*/
/*
    =================================================
                    start footer section
    =================================================
*/
.app p {
    line-height: 1;
}
/*
    =================================================
                    end footer section
    =================================================
*/