/*
    =================================================
                    start navbar section
    =================================================
*/
.navbar-toggler:focus,.accordion-button:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0;
}

/*
    =================================================
                    end navbar section
    =================================================
*/
/*
    =================================================
                    start package section
    =================================================
*/
.single-pack {
    border-radius: 30px;
    box-shadow: 0px 35px 35px 0px #231d4f66;
}
/*
    =================================================
                    end package section
    =================================================
*/
/*
    =================================================
                    start question section
    =================================================
*/
.accordion-button:not(.collapsed) {
    color: #0c63e4;
    background-color: transparent;
    box-shadow: 0;
}
/*
    =================================================
                    end question section
    =================================================
*/
/*
    =================================================
                    start event section
    =================================================
*/
.event-section .card {
    border: 1px solid #231D4F;
}
/*
    =================================================
                    end event section
    =================================================
*/
/*
    =================================================
                    start client section
    =================================================
*/
.client-section .card {
    border: 0px;
}
/*
    =================================================
                    end client section
    =================================================
*/
/*
    =================================================
                    start section
    =================================================
*/
/*
    =================================================
                    end section
    =================================================
*/